<script setup lang="ts">
import { DialogsWrapper } from 'vuejs-confirm-dialog';
</script>

<template>
    <NuxtLayout>
        <NuxtLoadingIndicator />
        <NuxtPage />
        <DialogsWrapper />
    </NuxtLayout>
</template>
